<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>    
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value='' ">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="toggleAll()"/>
    <ul class="todo-list">
      <li *ngFor="let item of items" [class.completed]="item.Done">        
        <app-todo-item [item]="item" *ngIf="item.Show"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">

    <span class="todo-count"><strong>{{nbRestantes()}}</strong> restante(s)</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="toutes()">Toutes</a>
      </li>
      <li>
        <a class="filterActives" (click)="actives()">Actives</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="completees()">Complétées</a>
      </li>
      <li>
        <button class="clear" (click)="toutSuppr()">Tout suppr</button>
      </li>  
    </ul>
    <button class="clear-completed" (click)="Suppr()">Suppr cochées</button>

  </footer>
</section>
<hr/>